<?xml version="1.0"?>
<!--
/**
 * Luxe corp.
 * MostViewed module 
 *
 * @category   Luxe
 * @package    Luxe_MostViewed
 * @copyright  Copyright (c) 2008 Luxe Corp.
 * @license    http://www.opensource.org/licenses/gpl-3.0.html GNU General Public License version 3
 */
-->

<config>
    <modules>
        <Bippo_MostViewedProducts>
            <version>1.0.0</version>
        </Bippo_MostViewedProducts>
    </modules>
    <global>
        <models>
            <mostviewed>
                <class>Bippo_MostViewedProducts_Model</class>
            </mostviewed>
        </models>
        <blocks>
            <mostviewed>
                <class>Bippo_MostViewedProducts_Block</class>
            </mostviewed>
        </blocks>
        <helpers>
            <mostviewed>
                <class>Bippo_MostViewedProducts_Helper</class>
            </mostviewed>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mostviewed>
                                            <title>MostViewedProducts</title>
                                        </mostviewed>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mostviewed>
            <mostviewed>
                <num_displayed_products>9</num_displayed_products>
            </mostviewed>
        </mostviewed>
    </default>
</config>
