
/* grid position */

.col3-layout .col-main .products-grid li.item { padding:0px 0px; width:170px; margin:0px; }
.col3-layout .col-main .products-grid ul { padding:0px 0px; width:150px; text-align:center;}
.col3-layout .col-main .products-grid { line-height:1.35em; }
.col3-layout .col-main .products-grid .product-name { margin-bottom:.4em; font-size:1.05em; }
.col3-layout .col-main { width: 521px; }
/* .col3-layout .col-main .products-grid .product-name a { color:#629b2b; text-decoration: none; } */
/* .col3-layout .col-main .products-grid .product-name a:hover { text-decoration: underline; } */
/* .col3-layout .col-main .products-grid .ratings { margin-bottom:.6em; } */
/* .col3-layout .col-main .products-grid {border-bottom:none; margin-top: 5px;} */
/* .col3-layout .col-main .link-wishlist {color:#DC6809 !important;font-weight:bold !important;} */
/* .col3-layout .col-main .products-grid .link-wishlist a, .products-grid .link-compare a:hover {text-decoration:underline;} */
/* .col3-layout .col-main .products-grid .price-box { */
/* 	background: url("../images/price.png") no-repeat scroll 100% 0 transparent; */
/*     margin: -110px 0 0; */
/*     padding: 5px 30px 5px 12px; */
/*     position: absolute; */
/* } */
/* .col3-layout .col-main .products-list .product-name a { color:#629b2b; text-decoration: none; } */
/* .col3-layout .col-main .products-list .product-name a:hover { text-decoration: underline; } */

/* .col3-layout .col-main .product-view {border:0px;} */
/* .product-collateral h2{color:#3a7600;font-size:12px;font-weight:bold;} */

/* .col-left { float:left; width:195px; } */
/* .col3-layout .col-main { float:left; width:525px; } */
/* .col-right { float:right; width:195px; } */
/* .col3-layout .col-main .products-grid .final-price-box { */
/*     background: url("http://www.nignag.com/skin/frontend/default/theme042k/images/price.png") no-repeat scroll 100% 0 transparent; */
/*     margin: -110px 0 0; */
/*     padding: 5px 30px 5px 12px; */
/*     position: absolute; */
/*     color: #ffffff; */
/* } */
/* .col3-layout .products-grid .product-image { */
/*     background: url("../images/top_grid.jpg") no-repeat scroll 0 0 transparent; */
/*     display: block; */
/*     height: 227px; */
/*     padding: 26px 0 0; */
/*     width: 135px; */
/* } */

.add-to {
	
	background-image:url("../images/bippomostviewedproducts/add_cart.png")  ;
	background-repeat:no-repeat;
	height:40px;
	width:40px;
}
.col3-layout .products-grid .actions {
    width: 50px;
    float:right;
    margin-right:10px;
}

.col3-layout .product-name {min-height:30px; max-height:40px;}

.page-title {

}

